.panel {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: 42.5em) {
        font-size: 1.6rem;
    }

    @media only screen and (max-width: 38.375em) {
        flex-direction: column;
        align-items: flex-start;
        font-size: 2rem;

        & > * {
            margin-bottom: 2rem;
        }
    }

    &__reset {
        border: 2px solid transparent;
        border-radius: 3px;
        outline: none;
        display: block;
        padding: .7rem 1.2rem;
        margin-right: 2rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
        background-color: $color-grey-light-1;
        color: $color-grey-dark-1;
        font-size: 1.4rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s;

        @media only screen and (max-width: 38.375em) {
            font-size: 1.8rem;
        }
        
        &:hover {
            border: 2px solid $color-grey-light-1;
            background-color: $color-grey-dark-1;
            color: $color-grey-light-1;
            transform: translateY(-1px);

            @media (hover: none) {
                border: 2px solid transparent;
                background-color: $color-grey-light-1;
                color: $color-grey-dark-1;
                transform: translateY(0);
            }
        }
        
        &:active,
        &:focus {
            box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
            transform: translateY(1px);

            @media (hover: none) {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .6);
                transform: translateY(0);
            }
        }
    }

    &__check {
        margin-left: auto;
        text-align: right;
        padding: 2px 5px;

        @media only screen and (max-width: 38.375em) {
            text-align: left;
            margin-left: 0;
            padding: 0;
        }

        &--win { 
            background-color: $color-green;

            @media only screen and (max-width: 38.375em) {
                padding: 2px 5px;
            }                    
        }
        
        &--lost { 
            background-color: $color-red; 
            
            @media only screen and (max-width: 38.375em) {
                padding: 2px 5px;
            }
        }
    }
}