// Margin Top
.margin-top-sm {
    margin-top: 2rem;
}

.margin-top-md {
    margin-top: 4rem;
}

.margin-top-lg {
    margin-top: 6rem;
}

.margin-top-xl {
    margin-top: 8rem;
}

// Margin Bottom
.margin-bottom-sm {
    margin-bottom: 2rem;
}

.margin-bottom-md {
    margin-bottom: 4rem;
}

.margin-bottom-lg {
    margin-bottom: 6rem;
}

.margin-bottom-xl {
    margin-bottom: 8rem;
}